body {
    background: #333945
}

h1 {
    color: #FFF;
}

.button {
    background-color: #26ae60;
    border: none;
    color: #FFF;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    margin-top: 5px;
}